* {
  margin: 0;
}
* {
  transition: all 0.1s ease-in;
}

ul {
  padding-left: 0;
  padding-top: 108px;
}
li {
  display: inline-block;
}
* {
  box-sizing: border-box;
}
.main_container {
  margin: 0 auto;
  text-align: center;
  padding-top: 145px;
  padding-bottom: 140px;
}
header {
  font-family: Montserrat;
  text-transform: uppercase;
}
.who_we_are {
  font-weight: bold;
  color: #898f99;
  font-size: 12px;
  padding-bottom: 35px;
  letter-spacing: 4.8px;
}
h1 {
  font-family: Montserrat;
  font-size: 44px;
  color: #0ec8cb;
  padding-bottom: 40px;
  letter-spacing: 4.8px;
  font-weight: 400;
}
.main_text {
  font-family: PT Sans;
  font-size: 18px;
  color: #adadad;
  color: #999999;
  line-height: 30px;
}
.iconblock1,
.iconblock2,
.iconblock3,
.iconblock4 {
  width: 236px;
  min-height: 420px;
  border: none;
}
.iconbox {
  background-color: #f7f7f7;
  widows: 174px;
  padding-top: 55px;
}
.icon_name {
  font-family: Montserrat;
  font-weight: bold;
  color: #1b1b1b;
  font-size: 21px;
  text-transform: uppercase;
  padding-top: 55px;
  text-align: center;
  vertical-align: auto;
}
.icon {
  display: block;
  margin: auto;
  background-repeat: no-repeat;
  width: 64px;
  height: 66px;
  background-position: center;
  background-size: contain;
}
.icon1 {
  width: 64px;
  height: 66px;
  background-image: url(../img/Anchor.png);
}
.icon1,
.icon2,
.icon3,
.icon4 {
  width: 64px;
  height: 66px;
}
.icon_text {
  font-family: PT Sans;
  color: #777777;
  line-height: 21px;
  padding-top: 33px;
  padding-bottom: 84px;
}
div.iconbox:hover {
  background-color: #0ec8cb;
}
div.iconblock1:hover .icon1 {
  background-image: url(../img/Anchor_white.png);
}
div.iconblock1:hover .icon_name {
  color: #ffffff;
}
div.iconblock1:hover .icon_text {
  color: #ffffff;
}
.icon2 {
  background-image: url(../img/Diamond.png);
}
div.iconblock2:hover .icon2 {
  background-image: url(../img/Diamond_white.png);
}
div.iconblock2:hover .icon_name {
  color: #ffffff;
}
div.iconblock2:hover .icon_text {
  color: #ffffff;
}
.icon3 {
  background-image: url(../img/Eyeglasses.png);
}
div.iconblock3:hover .icon3 {
  background-image: url(../img/Eyeglasses_white.png);
}
div.iconblock3:hover .icon_name {
  color: #ffffff;
}
div.iconblock3:hover .icon_text {
  color: #ffffff;
}
.icon4 {
  background-image: url(../img/Monitor.png);
}
div.iconblock4:hover .icon4 {
  background-image: url(../img/Monitor_white.png);
}
div.iconblock4:hover .icon_name {
  color: #ffffff;
}
div.iconblock4:hover .icon_text {
  color: #ffffff;
}
